<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hikmahway Institute</title>
<style type="text/css"></style>
</head>

<body>
  <h1>This is About</h1>
<%= link_to 'home', root_path %>
</body>

</html>