$navbar-default-bg: #000000;

@import "bootstrap-sprockets";
@import "bootstrap";

body{
  padding-top: 70px;
}
#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.article-title{
font-weight: bold;
font-size: 1.5em;
}

.article-body{
border-top: 1px solid #eaeaea;
padding-top: 15px;
padding-bottom: 15px;
}

.jumbotron{
  background-image: asset-url('cover_jumbotron.jpg');
  background-size:cover;
  height: 250px;
}

.jumbotron h1 {
  text-align: center;
  color: #fff;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.btn-xlarge{
font-size: 1.7em;
background-color: #ff0000;

}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;

}

footer{
  margin-top: 450px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small {
  float: left;
}

footer a:hover {
  color: #222;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
float: left;
margin-left: 15px;
}

.center {
  text-align: center;
}
